In [3]:
cd Code_a_thon_10_16_2019/

/Users/marc/Code_a_thon_10_16_2019

In [73]:
ls

cdart_queries.sql*
new_taxdump/
pigs_gis_all_taxid_by_CDD_accession.txt*
pigs_gis_per_taxid_by_CDD_accession.txt*
taxidlineage.dmp

In [6]:
taxid2PIG_file = 'pigs_gis_per_taxid_by_CDD_accession.txt'

In [7]:
import pandas as pd

In [12]:
pd.read_csv(taxid2PIG_file, sep='\t').head()

    domgi  accession    taxid                   taxOrg  nPig  nGi
0  129695  TIGR00607     5580  Aureobasidium pullulans    26   50
1  129695  TIGR00607     9606             Homo sapiens    22  127
2  129695  TIGR00607  1708541       Wallemia mellicola    18   25
3  129695  TIGR00607    10090             Mus musculus    16   21
4  129695  TIGR00607    91943        Hortaea werneckii    15   18

In [18]:
lineages= pd.read_csv('taxidlineage.dmp', sep='\t')

In [20]:
lineages.head()

         1  |                    Unnamed: 2 |.1
0   131567  |                           NaN   |
1     2157  |                       131567    |
2  1935183  |                  131567 2157    |
3  1936272  |          131567 2157 1935183    |
4  2026747  |  131567 2157 1935183 1936272    |

In [83]:
#Dictionary of tax to all parent nodes

lineage_file = 'taxidlineage.dmp'
lin_dict = {}
lin_dict['taxid'] = 00000

with open(lineage_file, 'r') as fh:
    for line in fh:
        lst=line.split('|')
        lin_dict[lst[0].strip('\t')]= lst[1].strip('\t').strip()

In [84]:
lin_dict['1935183']

'131567 2157'

In [74]:
taxid2PIG_file = 'pigs_gis_per_taxid_by_CDD_accession.txt'

In [85]:
tax2PIG= '200311.txt'

In [122]:
def get_lineage(domgi):   
    #input: domgi	accession	taxid	taxOrg	nPig	nGi
    #200311	TIGR03687	1883	Streptomyces	131	605
    #output:
    #(taxid, nPIG/weight, lineage)
    lin_lst = []

    with open(tax2PIG, 'r') as fh:
        for line in fh:
            tmp = line.split('\t')
            try:
                lin_lst.append((tmp[2], tmp[4], lin_dict[tmp[2]].split()))
            except:
                #if taxid not in dictionary, skip
                pass
            
    return lin_lst

In [123]:
lin_200311 = get_lineage('200311')

In [124]:
lin_200311[:10]

[('1883',
  '131',
  ['131567', '2', '1783272', '201174', '1760', '85011', '2062']),
 ('1883427',
  '41',
  ['131567', '2', '1783272', '201174', '1760', '52018', '78537']),
 ('1762', '28', ['131567', '2', '1783272', '201174', '1760', '85007']),
 ('2053607', '28', ['131567', '2', '2323', '1783234', '1752708']),
 ('1763', '26', ['131567', '2', '1783272', '201174', '1760', '85007', '1762']),
 ('1773',
  '24',
  ['131567',
   '2',
   '1783272',
   '201174',
   '1760',
   '85007',
   '1762',
   '1763',
   '77643']),
 ('1716', '23', ['131567', '2', '1783272', '201174', '1760', '85007', '1653']),
 ('1663', '20', ['131567', '2', '1783272', '201174', '1760', '85006', '1268']),
 ('1827',
  '18',
  ['131567', '2', '1783272', '201174', '1760', '85007', '85025']),
 ('216816',
  '16',
  ['131567', '2', '1783272', '201174', '1760', '85004', '31953', '1678'])]